@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    margin-top: 80px;
    background-color: #333;
    color: #dedede;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.barchart-container {
    margin: 0 auto;
    display: block;
}

.tooltip-line {
    stroke: #dedede;
    stroke-width: 1.4;
    stroke-dasharray: none;
}

#description {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 80px;
}

#chart1-container {
    margin-top: 40px;
    margin-bottom: 40px;
}